@model Section106.Models.ChangePasswordViewModel

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="login-form cp_box">
            <section id="loginForm">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <h2>Change your password</h2>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Current Password" })
                            </div>
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger login_validation" })
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                            </div>
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger login_validation" })
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm New Password" })
                            </div>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger login_validation" })
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <br />
                    <div class="form-group text-center">
                        <div class="col-md-12">
                            <a href="@Url.Action("Index", "Manage")" class="btn btn-default">Back</a>
                            <input type="submit" value="Change Password" class="btn btn-info" />
                        </div>
                    </div>
                    <br />
                }
            </section>
        </div>

    </div>
    <div class="col-md-3"></div>
</div>

<style type="text/css">
    .control-label {
        text-align: left !important;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}